.venv/*
.venvs/*
.test_env/*

NoTrack/*

#Ignore Python cache files and cpython
src/__pycache__/*
*cpython*

# Ignore datasets
112UCRFolds/*
/112UCRFolds/*

# Ignore contents of simulation_results but keep the folder
#simulation_results/*
!simulation_results/.gitkeep

# Ignore all job_scripts
job_script*
job_scripts/*
test_script.sh*

# Ignore all .xlsx files in top-level directory
/*.xlsx